@import "./components/header.scss";
@import "./base/normallize.scss";
@import "./components/collection.scss";
@import "./components/item-block.scss";
@import "./components/categories.scss";
@import "./components/boxes.scss";
@import "./components/footer.scss";
@import "../../pages/latest/latest";

.container {
    max-width: 1530px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}

.trends-block {
    padding: 40px 0;
    &__title {
        font-size: 24px;
        margin-bottom: 30px;
    }
}
.items-block {
    display: flex;
    column-gap: 20px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #737b7d transparent;
    &::-webkit-scrollbar {
        height: 5px;
        &-thumb {
            border-radius: 10px;
            border: 5px solid #737b7d;
            width: 200px;
        }
    }
}
.female,
.latest,
.male,
.kids,
.accessories {
    margin-bottom: 30px;
}

@import "./base/media.scss";
