.item-block {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 20px;
    & > img {
        max-width: 300px;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}
.info-block {
    padding: 0 10px 10px;
    display: flex;
    align-items: center;
    flex: 0 1 50%;
    &__wrapper > *:not(:last-child) {
        margin-bottom: 15px;
    }
    &__title {
        font-size: 18px;
    }
    &__subtitle {
        color: #737b7d;
    }
    &__price {
        font-weight: 700;
    }
}
