.item-block {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    & > img {
        max-width: 400px;
        width: 400px;
        height: 400px;
        margin-bottom: 10px;
    }
    &:not(:first-child) {
        margin: 0 15px;
    }
    &:first-child {
        margin-right: 15px;
    }
}
.info-block {
    padding: 0 10px 10px;
    &__wrapper > *:not(:last-child) {
        margin-bottom: 5px;
    }
    &__title {
        font-size: 18px;
    }
    &__subtitle {
        color: #737b7d;
    }
    &__price {
        font-weight: 700;
    }
}
